/* Default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: auto;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #fff;
}

.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  margin: 0 10px;
}

.mysearch {
  display: flex;
  justify-content: flex-end;
}

.mysearch input[type=text] {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
}

/* Media queries for responsive design */
@media only screen and (max-width: 480px) {
  /* Mobile styles */
  img {
      top: 0;
      left: 0;
  }

  .content {
      position: static;
      transform: none;
      text-align: left;
  }


}
